build/
__pycache__/
ext/
data_kiwi_soap/
build_/
optix/
enoki/
include/ext/
__pycache__/
CMakeFiles/
.vscode/

variables*/
*.nsys-rep
data/
build_*/

wandb/
*.npy
!examples/scenes/light/*.npy
*.dot
*.png
core*
*.ps
*.svg
*.mp4
*.npz
*.pth
*_tmp.xml
*.obj
*.npy
*.txt
*.exr
*.xml
*.mtl
*.sh
.ipynb_checkpoints

*.cmake
Makefile
test
examples/python/viz/outputs/
examples/python/viz
forward_model_weights/
figures/
