build/
__pycache__/
ext/
build_/
include/ext/
__pycache__/
CMakeFiles/
.vscode/

data/
build_*/

wandb/
*.npy
*.dot
*.png
*.core
*.ps
*.svg
*.mp4
*.npz
*.pth
*_tmp.xml
*.obj
*.npy
*.txt
*.exr
*.xml
*.mtl
.ipynb_checkpoints
*.cmake
Makefile
figures/
results/
trash/

*.bak
!data_kiwi_soap/light/*.npy
!data_kiwi_soap/obj/*.obj
!examples/python/scripts/resources/*.xml
!examples/scenes/**.xml
!CMakeLists.txt
!CMake/*.cmake
!docs/*.txt
